<section class="my-4">
  <h1 class="text-center text-main my-2">Forget Password</h1>


  <!-- start verify email form -->
  @if (step==1) {
  <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
    <!-- email form control  -->
    <div class="my-2">
      <label for="email">email</label>
      <input formControlName="email" type="email" id="email" class="form-control" [ngClass]="{
          'is-valid':!verifyEmail.get('email')?.errors &&( verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty),
          'is-invalid':verifyEmail.get('email')?.errors &&( verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)
        }">
      @if (verifyEmail.get('email')?.errors &&( verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)) {
      <div class="alert alert-danger w-50 ">
        @if (verifyEmail.get('email')?.getError('required'))
        {
        <p class="m-0">Email Is Required </p>
        }
        @else if (verifyEmail.get('email')?.getError('email'))
        {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>

    <button [disabled]="verifyEmail.invalid ||isLoading" type="submit" class="btn-main">Verify Email
      @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
    <p class="alert alert-danger mx-auto mt-2 w-50 m-0">{{msgError}}</p>
    }
  </form>
  }
  <!-- end verify email form -->


  <!-- start verify code form -->
  @if (step==2) {
  <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()">
    <!-- resetcode form control  -->
    <div class="my-2">
      <label for="resetCode">resetCode</label>
      <input formControlName="resetCode" type="text" id="resetCode" class="form-control" [ngClass]="{
          'is-valid':!verifyCode.get('resetCode')?.errors &&( verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty),
          'is-invalid':verifyCode.get('resetCode')?.errors &&( verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty)
        }">
      @if (verifyCode.get('resetCode')?.errors &&(
      verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty)) {
      <div class="alert alert-danger w-50 ">
        @if (verifyCode.get('resetCode')?.getError('required'))
        {
        <p class="m-0">resetCode is required </p>
        }
        @else if (verifyCode.get('resetCode')?.getError('pattern'))
        {
        <p class="m-0">Enter Valid Code must be at 6 number</p>
        }
      </div>
      }
    </div>

    <button [disabled]="verifyCode.invalid ||isLoading" type="submit" class="btn-main">Verify Code
      @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
    <p class="alert alert-danger mx-auto mt-2 w-50 m-0">{{msgError}}</p>
    }
  </form>
  }
  <!-- end verify code form -->


  <!-- starr reset new password form -->
  @if (step==3) {
  <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPasswordSubmit()">

    <!-- email form control  -->
    <div class="my-2">
      <label for="email">email</label>
      <input readonly type="email" id="email" class="form-control" formControlName="email" [ngClass]="{
            'is-valid':!resetPassword.get('email')?.errors &&( resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty),
            'is-invalid':resetPassword.get('email')?.errors &&( resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty)
          }">
      @if (resetPassword.get('email')?.errors
      &&(resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty)) {
      <div class="alert alert-danger w-50 ">
        @if (resetPassword.get('email')?.getError('required'))
        {
        <p class="m-0">Email Is Required </p>
        }
        @else if (resetPassword.get('email')?.getError('email'))
        {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>

    <!-- password form control  -->
    <div class="my-2">
      <label for="password">password</label>
      <input type="password" id="password" class="form-control" formControlName="newPassword" [ngClass]="{
            'is-valid': !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
            'is-invalid': resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)
            }">
      @if (resetPassword.get('newPassword')?.errors &&
      (resetPassword.get('newPassword')?.touched||resetPassword.get('newPassword')?.dirty))
      {
      <div class="alert alert-danger w-50 ">
        @if (resetPassword.get('newPassword')?.getError('required'))
        {
        <p class="m-0">Password Is Required </p>
        }
        @else if (resetPassword.get('newPassword')?.getError('pattern'))
        {
        <p class="m-0">Password must Be 6 to more any chars </p>
        }
      </div>
      }
    </div>


    <button [disabled]="resetPassword.invalid ||isLoading" type="submit" class="btn-main">Reset Password
      @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
    <p class="alert alert-danger mx-auto mt-2 w-50 m-0">{{msgError}}</p>
    }

    @if(msgSucess){
    <p class="btn-main mx-auto mt-2 m-0 w-50">Reset Password Done......</p>
    }
    <!-- end reset new password form -->

  </form>
  }

</section>