<section class="bg-main-light shadow rounded-4 p-2 my-4">
  <h1 class="text-center text-main" style="font-size: 64px;">Register Now</h1>

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">


    <!-- name form control  -->
    <div class="my-2">
      <label for="name">name</label>
      <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="{
          'is-valid': !registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty),
          'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
          }">
      @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.dirty)) {
      <div class="alert alert-danger w-50 ">
        @if (registerForm.get('name')?.getError('required'))
        {
        <p class="m-0">Name Is Required </p>
        }
        @else if (registerForm.get('name')?.getError('minlength'))
        {
        <p class="m-0">Name Should be more than or equal 3 chars</p>
        }
        @else if (registerForm.get('name')?.getError('maxlength'))
        {
        <p class="m-0">Name Should be less than or equal 20 chars</p>
        }
      </div>
      }
    </div>


    <!-- email form control  -->
    <div class="my-2">
      <label for="email">email</label>
      <input type="email" id="email" class="form-control" formControlName="email" [ngClass]="{
        'is-valid': !registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
        'is-invalid': registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
        }">
      @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched||registerForm.get('email')?.dirty))
      {
      <div class="alert alert-danger w-50 ">
        @if (registerForm.get('email')?.getError('required'))
        {
        <p class="m-0">Email Is Required </p>
        }
        @else if (registerForm.get('email')?.getError('email'))
        {
        <p class="m-0">Enter Valid Email</p>
        }
      </div>
      }
    </div>


    <!-- phone form control  -->
    <div class="my-2">
      <label for="phone">phone</label>
      <input type="tel" id="phone" class="form-control" formControlName="phone" [ngClass]="{
        'is-valid': !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
        'is-invalid': registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)
        }">
      @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||registerForm.get('phone')?.dirty))
      {
      <div class="alert alert-danger w-50 ">
        @if (registerForm.get('phone')?.getError('required'))
        {
        <p class="m-0">Phone Is Required </p>
        }
        @else if (registerForm.get('phone')?.getError('pattern'))
        {
        <p class="m-0">"Accept Only Egypt Phone Numbers" </p>
        }
      </div>
      }
    </div>


    <!-- password form control  -->
    <div class="my-2">
      <label for="password">password</label>
      <input type="password" id="password" class="form-control" formControlName="password" [ngClass]="{
        'is-valid': !registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),
        'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
        }">
      @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched||registerForm.get('password')?.dirty))
      {
      <div class="alert alert-danger w-50 ">
        @if (registerForm.get('password')?.getError('required'))
        {
        <p class="m-0">Password Is Required </p>
        }
        @else if (registerForm.get('password')?.getError('pattern'))
        {
        <p class="m-0">Password must Be 6 to more any chars </p>
        }
      </div>
      }
    </div>


    <!-- repassword form control  -->
    <div class="my-2">
      <label for="rePassword">rePassword</label>
      <input type="password" id="rePassword" class="form-control" formControlName="rePassword"  [ngClass]="{
        'is-valid': !registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty),
        'is-invalid': registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty)
        }">
      @if (registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched ||registerForm.get('rePassword')?.dirty )) 
      {
      <div class="alert alert-danger w-50 ">
        <p class="m-0">Password confirmation is incorrect</p>
      </div>
      }
    </div>


    <!-- make button disabled if the formGroup is invalid -->
    <button [disabled]="registerForm.invalid || isLoading" type="submit" class="btn-main d-block ms-auto">Register
      @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
    <p class="alert alert-danger w-50 m-0">{{msgError}}</p>
    }

    @if(msgSucess){
      <p class="btn-main m-0 w-50" >Register Sucess Wait....</p>
    }
  </form>
</section>