<!-- categories owl-cursol main -->
<section>
  <div class="row g-0">
    <div class="col-md-9">
      <div>
        <owl-carousel-o [options]="customOptionsMain">
          <ng-template carouselSlide><img src="./assets/images/img1.avif" height="400px" class="w-100" alt="img1"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/img2.avif" height="400px" class="w-100" alt="img2"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/img3.avif" height="400px" class="w-100" alt="img3"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/img4.avif" height="400px" class="w-100" alt="img4"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/img5.avif" height="400px" class="w-100" alt="img5"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/img6.avif" height="400px" class="w-100" alt="img6"></ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div>
        <img src="./assets/images/grocery-banner.png"  class="w-100" height="200px" alt="grocery-banne">
        <img src="./assets/images/grocery-banner-2.jpeg" class="w-100" height="200px" alt="grocery-banne2">
      </div>
    </div>
  </div>
</section>

<!-- categories owl-cursol dinamic -->
<section class="my-2">
  <h2 class="text-main">Popular Categories:</h2>
  <owl-carousel-o [options]="customOptionsCat">

    @for (cat of CategoriesList; track cat._id) {
    <ng-template carouselSlide>
      <div>
        <img [src]="cat.image" height="250px" class="w-100" [alt]="cat.name">
        <h3 class="h5 pt-2 text-main"> {{cat.name}} </h3>
      </div>
    </ng-template>
    }

  </owl-carousel-o>
</section>

<!-- products -->
<section class="mt-2">
  <div class="d-flex align-items-center">
    <h2 class="text-main">Popular product:</h2>
    <input [(ngModel)]="text" type="search" placeholder="search by Name..." class="form-control w-50 mx-auto my-2">
  </div>  
  <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
    @for (product of productList.slice(0,12) | search :text; track product.id) {
    <div>
      <div class="product p-2 position-relative">
        @if (!WishList.includes(product.id)) {
          <span (click)="addToWishlist(product.id)">
            <i class="fas fa-heart p-2 heart" ></i>
          </span>
        }
        @if (WishList.includes(product.id)) {
          <span (click)="removeProductWishlist(product.id)">
            <i class="fas fa-heart p-2 heart" style="color: red;"></i>
          </span>
        }
        <div [routerLink]="['/details',product.id]">
          <img [src]="product.imageCover" class="w-100" [alt]="product.title">
          <h3 class="small text-main"> {{product.category.name}} </h3>
          <h4 class="h6"> {{product.title | termtext:2}} </h4>   
          <div class="d-flex justify-content-between align-items-center">
            <span> {{product.price | currency :'EGP'}} </span>
            <div>
              @for (item of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
              <span><i class="fas fa-star rating-color"></i></span>
              }
              @if (product.ratingsAverage%1!==0) {
              <i class="fa-solid fa-star-half-stroke rating-color"></i>
              }
              <span class="text-muted"> {{product.ratingsAverage}} </span>
            </div>
          </div>
        </div>
        <button class="btn-main w-100" (click)="addToCart(product.id)">Add To Cart</button>
      </div>
    </div>
    }
  </div>
</section>