<section class="my-2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 justify-content-center">
    @for (Brand of BrandList; track Brand._id) {
      <div class="col">
        <div class="card cr product" [routerLink]="['/BrandsDetails',Brand._id]">
          <img [src]="Brand.image" [alt]="Brand.name">
          <div class="card-body">
            <h3 class="h5 pt-2 text-center text-main"> {{Brand.name}} </h3>
          </div>
        </div>
      </div>
    }
  </div>
</section>